@model DateSite.Models.ProfileModel
@{
    ViewBag.Title = "BrowseUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/BrowseUsersStyle.css");

}

<head>
    
</head>


<div class="content-wrapper">

    <div class="container">
        <div class="row row-offset">
            <div class="col-md-12">
                <div class="profilebox col-md-4" style="background-image: url(../../Content/ProfileImages/@Model.pic); background-size: 100% 100%;"></div>
                <div class="col-md-8">
                    <p>Name: @Model.name</p>
                    <p>Age: @Model.age</p>
                    <p>Email: @Model.email</p>
                    <p>About me: @Model.about</p>
                </div>

            </div>
            <div>
            <a href='@Url.Action("AddFriend", "BrowseProfiles" , new { id = Session["UserID"], friendid = Model.userid }, null)'>
                Add (@Model.name) as friend </a>
            </div>
        </div>
       
        <div id="wallposts"></div>
        <script type="text/javascript">
            var uri = '/api/wall/'+@Model.userid;
            $(document).ready(function () {
                $.getJSON(uri).done(function (data) {
                    $.each(data, function (key, post) {
                        $('<li>', { text: insertitem(post) },'</li>').appendTo($('#wallposts'));
                    });
                });
            });

            function insertitem(post) {
                return post.authorname +": "+post.post;
            }

            $(function (){
                $('#sendpost').click(function (){
                    var text = $(".wall-post").val()
                    var userid =@Session["UserID"].ToString();
                    var reciever = @Model.userid.ToString();
                    var wallpost = {'post' : text, 'authoridstring': userid, 'walluseridstring': reciever };
                    
                    $.ajax({
                        url: "/api/wall",
                        type: "POST",
                        data: JSON.stringify(wallpost),
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function (data) { location.reload(); },
                        error: function () { alert("error"); }
                });
            });
            });
        </script>
        
        <div class="row">
            <div class="col-md-2"></div>
                <input class="wall-post" type="text" placeholder="Enter your comment..." />
                <input type="submit" value="Post" id="sendpost" />
            
                <div class="col-md-2"></div>
</div>
    </div>

</div>