@model DateSite.Models.LoginModel
@using Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/loginStyle.css");
}


<div class="content-wrapper">
    @using (@Html.BeginForm())
    {

        <h2>Login</h2>

        <div class="row formLayout">
            <div class="col-md-12">
                @Html.ActionLink("English", "Language", "Account", new { chosenLanguage = "en" }, null)
                @Html.ActionLink("Svenska", "Language", "Account", new { chosenLanguage = "sv-SE" }, null)

                @Register.username
                @Register.password
                <br /><br />

                @Html.DisplayNameFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username)
                @Html.ValidationMessageFor(x => x.Username)

                @Html.DisplayNameFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)

                <input type="submit" value="Login" />
                @ViewData["LoginError"]
            </div>
        </div>
    }

</div>
