@model DateSite.Models.LoginModel
@using Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/loginStyle.css");
}


<div class="content-wrapper">
    @using (@Html.BeginForm())
    {

        <h2>Login</h2>

        <div class="row formLayout">
            <div class="col-md-12">

                <div class="centering">
                    @Resources.Register.username
                </div>

                @Html.TextBoxFor(x => x.Username, new { @class = "login-textbox" })
                @Html.ValidationMessageFor(x => x.Username)


                <div class="centering">
                    @Resources.Register.password
                </div>

                @Html.PasswordFor(x => x.Password, new { @class = "login-textbox" })
                @Html.ValidationMessageFor(x => x.Password)

                <input type="submit" value="@Resources.Register.loginText" id="loginBtn"/>
                <div class="centering">
                    @ViewData["LoginError"]
                </div>
            </div>

            <br /><br />
                <div class="centering">
                    @Html.ActionLink("English", "Login", "Account", new { @lang = "en" }, null)
                    @Html.ActionLink("Svenska", "Login", "Account", new { @lang = "sv-SE" }, null)
                </div>
            </div>
    }


    <div>
        @*@Html.Partial("_RandomProfilesPartial")*@
    </div>

</div>
