@model DateSite.Models.ProfileModel

@{
    ViewBag.Title = "My profile settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/Profile.css");
}

<head>
    <script type="text/javascript">
        $(function(){
            $("#passBtn").click(function () {
                $(location).attr('href', '/Manage/MySettings')
            });
        });
    </script>
</head>

<div class="container content-wrapper">

    @if (Session["UserID"] != null)
    {


        using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "usrform", enctype = "multipart/form-data" }))
        {

            <div class="form-bg">
                    <div class="stretch">
                        <h2 class="container">Change account password</h2>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/Content/ProfileImages/@(Model.pic)" width="240" height="300" />
                                <input type="file" id="File" name="File" style="display: none;" /> @*Knappen under är en knapp som inte har någon funktion men är bunden till denna med javascript.*@
                            </div>
                            <div class="col-md-12">
                                <input type="button" value="Change profile picture" class="uploadpic okayBtn okayBtnBig" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>Hide profile from search?</p>
                        <input type="radio" name="Visibility" value="false" @(Model.visible ? "" : "checked=\"checked\"") />Yes
                        <input type="radio" name="Visibility" value="true" @(!Model.visible ? "" : "checked=\"checked\"") />No
                        <br />
                        <textarea class="aboutbox" name="Aboutbox" form="usrform">@Model.about </textarea>
                        <br />
                        <input type="submit" name="submit" value="Submit changes" class="okayBtn" />
                    </div>

                    <div class="col-md-4" id="changePass">
                        <input type="button" id="passBtn" value="Change Password" class="okayBtn" />
                    </div>
                </div>

                }
                }
                else
                {
                <p>Not logged In</p>
                }

            </div>

<script type="text/javascript" src="@Url.Content("/Scripts/mprofile.js")"></script>
