
@model DateSite.Models.FriendListModel

@{
    ViewBag.Title = "Friendslist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/stroll.css">
    <link rel="stylesheet" href="~/Content/friendsStyle.css" />
    <script src="~/Scripts/stroll.js"></script>
    <script>
			stroll.bind( '#main ul' );
    </script>
</head>

<div class="right-box">
    <div class="row">
       
        @if (Session["UserID"] != null)
        {

            <div class="col-md-6">
                <h2>Friendslist</h2>
                <div id="main">
                    <ul class="grow">
                        @foreach (var i in Model.friends)
                        {
                            <li>
                                <a href='@Url.Action("BrowseUser", "BrowseProfiles" , new { id = @i.Id })'>
                                    <p> @i.Age @i.Firstname </p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <h2>Friendrequests</h2>
            foreach (var i in Model.requests)
            {
                <div class="friendbox">
                    <a href='@Url.Action("BrowseUser", "BrowseProfiles" , new { id = @i.Id })'>
                        @i.Age @i.Firstname Accept friend?
                    </a>
                    <a href='@Url.Action("FriendlistAccept", "Friend" , new { idd = Session["UserID"], friendid = @i.Id }, null)'>Yes </a>
                    <a href='@Url.Action("FriendlistDeny", "Friend" , new { idd = Session["UserID"], friendid = @i.Id }, null)'> No </a>
                </div>

            }
        }
        else
        {
            <p>Not Logged In</p>
        }


  

    </div>

</div>